/*
===========================
	*** 通用設定
===========================
*/

/*

@ 通用的html tag CSS設定。
@ body字型，hr 樣式，a 樣式。

*/
body{
	margin: 0;
	font-family: "Times New Roman", Times, serif;
}
hr{
	width: 120px; 
	border-width: 1px; 
	border-style: solid;
	border-color: #F7CAC9;
}
/* unvisited link */
a:link {
    text-decoration: none;
    color: #333;
}
/* visited link */
a:visited {
    text-decoration: none;
    color: #333;
}
/* mouse over link */
a:hover {
    text-decoration: none;
    color: #333;
}
/* selected link */
a:active {
    text-decoration: none;
    color: #333;
}

/*

@ 區塊外層 Frame通用設定
@ 說明：這裡擺置區塊最外層的Frame 

*/
.section-frame{
	background-color: #ffffff;
	width: 100%;
}



/*

@ Flex box 通用設定 
@ 說明：這裏儲存所有Flex box的通用設定

*/
	
/*
		
		1. 各區塊的標題列
			。 容器main的class為section-title
			。 內容物div為單物件，標題至中。

*/

.section-title{ /* 容器 */
	display: flex;
	justify-content: center;

}
	.section-title>div{
		flex: none;
		text-align: center;

	}

/*
		
		2. 各區塊的單區塊內文列
			。 容器main的class為section-single-content
			。 內容物div為單物件，物品至中。

*/


.section-single-content{
	display: flex;
	justify-content: center;
}
	.section-single-content>div{
		flex: none;
		margin-top: 20px;
		text-align: center;	
	}
/*
		
		3. 各區塊內的雙區塊並排內文列
			。 容器main的class為section-twice-content
			。 內容物div為單物件，物品至中。

*/

.section-twice-content{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
	
}	
/* 通用div設定 */
.section-twice-content>div{
	flex: none;
	width: 42%;
	margin-top: 40px;
	margin-left: 0;
	text-align: center;
	
}

/* index.html個別區塊的個別設定 */

/* 聯絡我們區塊左右邊個別設定 */
.section-single-content>.contact-style{
	display: flex;
	flex: none;
	justify-content: center;
	width: 100%;
	margin-top: 40px;
	margin-left: 0;
	text-align: center;
}



/* class.html個別區塊的個別設定 */


/* 課程區塊中，兩兩並排的左邊設定 */
.section-twice-content>.classInfor-left {
    flex: none;
    width: 40%;
    margin: 1%;
    margin-left: 8%;
    text-align: left;
}
/* 課程區塊中，兩兩並排的右邊設定 */
.section-twice-content>.classInfor-right {
    flex: none;
    width: 40%;
    margin: 1%;
    text-align: left;
}


/*
		
		4. 各區塊內的三區塊並排內文列
			。 容器main的class為section-triple-content
			。 內容物div為單物件，物品至中。

*/

.section-triple-content{
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
	
}	
/* 通用div設定 */
.section-triple-content>div{
	flex: none;
	width: 26%;
	margin-top: 0;
	margin-left: 0;
	text-align: center;
	
}




/*
===========================
	*** 手機版導航列layout
===========================
*/


/* 手機 & 平板 導航狀態列 */
.phoneNav{
	display: none;
	position: fixed; 
	top: 5px; 
	right: 15px; 
	float: right; 
	width: 50px; 
	height: 50px; 
	/*background-color: black; */
	z-index: 20; 
	overflow: hidden;
	transition: width 1s, height 0.8s;
}
.phoneNav-button{
	position: fixed;
	top: 5px;
	right: 15px;
	float: right;
	width: 50px;
	height: 50px;
	color: #ffffff;
	font-size: 32px;
	margin: auto;
	margin-top:auto; 
	text-align: center;
	z-index: 23;
	overflow: hidden;
	opacity: 1;
	cursor: pointer;
	display: none;

}
	.phoneNav-button:hover{
		background-color: black;
	}

.phoneNav-background{
	position: relative;
	z-index: 21;
	width: 200px;
	height: 500px;
	float: right;
	background-color: black;
	opacity: 0.5;
	top: 0;
	
	overflow: hidden;
	
}
.phoneNav-content{
	position: relative; 
	z-index: 22; 
	float: right;
	width: 200px; 
	height: 500px; 
	top:-100%;
	
}
.phoneNav-menuList{
	display: none;
	color:#ffffff;
	font-size: 20px;

}
.menu-title{
	width: 100%; height: 50px; 
	font-size:22px;  padding: 10px 0;
	cursor: pointer;
	color: #ffffff;
}
.menu-content{
	width: 100%;
	
}
.menu-list{
	width: 100%;
	color:#fffff1;
	margin-left:5px;
	cursor: pointer; 
}
	
.menu-list-memberCenter{
	width: 100%;
	color:#fffff1;
	margin-left:5px;
	cursor: pointer; 
	display:none;
}
	

/*
===========================
	*** 電腦版導航列layout
===========================
*/

.nav-frame{
	position: fixed;
	z-index: 100;
	display: block;
	height: 5vh;
	width: 100vw;
	overflow: hidden;
}
.nav-background{
	float: left;
	position: relative;
	z-index: 1;
	height: 5vh;
	width: 100%;
	background-color: #ffffff;
	background-size: cover;
	top: 0;
}
.nav-opacity{
	float: left;
	z-index: 2;
	position: relative;
	top: 0vh;
	height: 5vh;
	width: 100%;
	border: solid 0px black;
	background-color: #ffffff;
	opacity: 0.2;
	top:-5vh;
}
.nav-section{
	float: left;
	z-index: 3;
	position: relative;
	top: 0vh;
	height: 5vh;
	width: 100%;
	/*background-color: #333;*/
	opacity: 1;
	top:-10vh;
	color: #333;
	overflow: hidden;
	
}

/* 導航列 flexbox  */
.nav-content{
	
	display: flex;
	justify-content: center;
	overflow: hidden;
}
	.nav-content>div.navbar-left{
		
		flex: none;
		width: 45%;
		color: #333;
		font-size: 26px;
		margin-left: 10px;
		cursor: pointer;

	}
		.nav-content>div.navbar-left:hover{
			color: pink;
		}

	.nav-content>div.navbar-right{
		display: flex;
		justify-content: center;
		align-items: flex-start; 
		flex: none;
		width: 100%;
		margin-top: 10px;
		color: #333;
		font-size: 26px;
		margin-left: 10px;
		
	}

.list-div{
	flex: none;
	/*width: 200px;*/
	margin-top: 10px;
	margin-left: 12px;
	color: #333;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	
}
	.list-div:hover{
		color: #92A8D1;
		font-weight: bolder;
	}

/*
===========================
	*** 網站標題 layout
===========================
*/
.WebTitle-content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30vh;
}

.WebTitle-content>div{
	flex:none;
	margin-top: 4vh;
}
.webTitleTxt{
	font-size: 36px;
}

/*
===========================
	*** Header layout
===========================
	# Header 頁面背景: 
		1. page-frame: 底層框架 
		2. page-background: 底層背景 
		3. page-opacity: 底層透明度設定

 */
.header-frame{
	z-index: -10;
	display: block;
	height: 70vh;
	width: 100%;
	overflow: hidden;
}
.header-background{
	float: left;
	position: relative;
	z-index: 1;
	height: 70vh;
	width: 100%;
	background-image: url("../img/5.jpg");
	background-size: cover;
	top: 0;
	display: block;
	transition: background-image 1s;
	

}
.header-background-2{
	float: left;
	position: relative;
	z-index: 1;
	height: 70vh;
	width: 100%;
	background-image: url("../img/4.jpg");
	background-size: cover;
	top: 0;
	display: none;
	opacity: 1;
	transition: background-image 1s,
	

}
.header-background-3{
	float: left;
	position: relative;
	z-index: 1;
	height: 70vh;
	width: 100%;
	background-image: url("../img/header.jpg");
	background-size: cover;
	top: 0;
	display: none;

}
.header-opacity{
	float: left;
	z-index: 2;
	position: relative;
	top: 0vh;
	height: 70vh;
	width: 100%;
	border: solid 0px black;
	background-color: #333;
	opacity: 0.5;
	top:-70vh;
}
.header-section{
	float: left;
	z-index: 3;
	position: relative;
	top: 0vh;
	height: 70vh;
	width: 100%;
	/*background-color: #333;*/
	opacity: 1;
	top:-140vh;
	color: #ffffff;
	
}

/* flex box  */
.header-content{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}
	.header-content>div{
		flex: none;
		position: relative;
		top:10vh;
		text-align: center;
		font-size: 40px;
		color: #ffffff;
	}

/*
===========================
	*** NEWS layout
===========================
*/

.readMore{
	color: #99ccff;
	cursor: pointer;
}
	.readMore:hover{
		color: #1a8cff;
	}

/* 最新消息彈出視窗 */
.news-window{
	width:100%; 
	height:100vh; 
	

	display: none ; 
	position: fixed; 
	top: 0px; left: 0px; z-index: 101;
}

.news-window-bg{
	float: left;
	position: relative;
	z-index: 1;
	height: 100vh;
	width: 100%;
	background-color: black;
	background-size: cover;
	opacity: 0.8;
	top: 0;
	display: block;
	transition: background-image 1s;
}
.news-window-bgOpacity{
	float: left;
	z-index: 2;
	position: relative;
	top: 0vh;
	height: 100vh;
	width: 100%;
	border: solid 0px black;
	background-color: black;
	opacity: 0;
	top:-100vh;
}

.news-window-section{
	float: left;
	z-index: 3;
	position: relative;
	top: 0vh;
	height: 100vh;
	width: 100%;
	
	/*background-color: #333;*/
	opacity: 1;
	top: -200vh;
	
	color: #ffffff;
	
}
/* flex box  */
.news-window-content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;

}
div.bg-click{
	position: relative;
	z-index: 4;
	width: 100%;
	height: 100vh;
	background-color: #ffffff;
}
div.news-txt{
	position: relative;
	z-index: 5;
	flex: none;
	display: flex; 
	flex-wrap: wrap;
	align-items: flex-start;
	width: 80%;
	height: 70%;
	background-color: #ffffff;
	text-align: center;
	font-size: 40px;
	color: #ffffff;
	border-radius: 20px;
}
div.news-button{
	flex: none;
	width: 50px;height:8%; 
	text-align: center;
	color: #333f;
	cursor: pointer;
	
}
div.news-button:hover{
	color: black;
}
div.news-cont{
	width: 100%;height:92%; 
	 flex: none;
	display: flex;
}
div.news-cont > div{
	width: 50%;
	color: #333;
	text-align: center;
}

/* 最新消息內文樣式*/
.news-title{
	font-size: 30px;
}
.news-publishTime{
	font-size: 16px;
}
.news-article{
	font-size: 20px;
}

/* 內文樣式 */
.news-turnOff-button{
	flex: none;
	margin-left: 5px;
	font-size: 40px;
	cursor: pointer;
}
.news-title{
	flex: none;
}
.news-p{
	flex: none;
}


/*
===========================
	*** aboutMe layout
===========================
*/

/* 老師照片樣式設定 */
.teacher-photo{
	width: 500px; height: 500px;
}


/*
===========================
	*** Class layout
===========================
	
	1. Orff和Chiabow樂器課共同設定
	2. 請確認清楚照片的尺寸樣式
*/

/* 下層文字說明區 */
 .class-detail{
 	width: 550px;
 }
/* 上層照片區 */
.class-left-photo{
	width: 500px; height: 300px;
}
.class-right-photo{
	width: 400px; height: 299px;
}

/*
===========================
	*** 預約體驗課 layout
===========================
*/

/* 符號 ICON */

#chiabow-icon-style{
	font-size :90px;
}

/* 內文字型大小 */
.orderClass-content-txt{
	font-size: 18px;
}

/* 框架層 */
.orderClass-frame{
	z-index: -10;
	display: block;
	height: 70vh;
	width: 100%;
	overflow: hidden;
}
/* 背景圖層 */
.orderClass-background{
	float: left;
	position: relative;
	z-index: 1;
	height: 70vh;
	width: 100%;
	background-image: url("../img/631226.jpg");
	background-size: cover;
	background-attachment: fixed; 
	top: 0;
	display: block;
	transition: background-image 1s;
}
/* 背景透明度層 */
.orderClass-opacity{
	float: left;
	z-index: 2;
	position: relative;
	top: 0vh;
	height: 70vh;
	width: 100%;
	border: solid 0px black;
	background-color: #333;
	opacity: 0.5;
	top:-70vh;
}
/* 內容層 */
.orderClass-section{
	float: left;
	z-index: 3;
	position: relative;
	top: 0vh;
	height: 70vh;
	width: 100%;
	/*background-color: #333;*/
	opacity: 1;
	top:-140vh;
	color: #ffffff;
	
}

/* flex box 容器  */
.orderClass-content{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
}
/* 內文樣式 */
.content-txt{
		flex: none;
		display: flex;
		justify-content: center;
		position: relative;
		top:10vh;
		width: 100%;
		text-align: center;
		font-size: 26px;
		color: #ffffff;
}
/*
===========================
	*** 聯絡我們 layout 
===========================
*/


div.label{
		font-size: 18px;
		text-shadow:0px 0px 0 #444;
		text-align: center;
		
	}
.form-size{
	width: 500px;
}
.input-style{
	padding:8px;
	display:block;
	border:none;
	border-bottom:2px solid #ccc;
	width:100%;
	height: 40px;
	resize: none;
	font-size: 16px;

}
.textarea-style{
	padding:8px;
	display:block;
	border:none;
	border-bottom:2px solid #ccc;
	width:100%;
	height: 140px;
	resize: none;
	font-size: 16px

}

.contact-photo{
	width: 388px; height:517px; margin-left: 100px; 
}

/* 地址和電話區 */

.contact-infor{
	margin-left:0; margin-top: 0; 
}
/* 地圖設定 */
.google-map{
	height: 400px; width: 100%; margin-top: 20px;
}

/*
===========================
	*** footer layout
===========================
*/

.footer-frame{
	background-color: #f0f0f5; 
	color: #333;
}

.footer-content{
	display: flex; flex-wrap: wrap;
	justify-content: center;
}
	.footer-content>div.uper-0{
		flex: none;
		width: 30%;
		text-align: left;
	}
	.footer-content>div.uper{
		flex: none;
		width: 30%;
		text-align: left;
	}
	.footer-content>div.down{
		flex: none;
		display: flex;
		justify-content: center;
		width: 100%;
		margin-left: 0%;
		text-align: center;
	}
ul.none-0 {
    list-style-type: none;
    text-align: center;
}

ul.none {
    list-style-type: none;
    text-align: center;
}

/* Icon setting */
.footer-icon-size{
	margin: auto;
	flex: none;
	margin: 10px;
	font-size:64px;
	color:#92A8D1;
	cursor: pointer;
	/*
    text-shadow: 2px 2px 2px #999;
    */
    
}
	.footer-icon-size:hover{
		color:#5d7ebb;
		text-shadow: 2px 2px 2px #999;
		margin: 6px;
		font-size: 68px;
	}


/*
===========================
	*** button style
===========================
*/
.content-button{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	width: 100px; height:40px; 
	border: 1px solid #ffffff;
	margin: auto;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.content-button:hover{
	background-color: #ffffff;
	color: #333;
}

.content-button-black{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	width: 100px; height:40px; 
	border: 1px solid #333;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.content-button-black:hover{
	background-color: #333;
	border: 1px solid #333;
	color: #ffffff;
}

/* 聯絡資訊送出的按鈕 */
.contact-button-style{
	width: 100px; height:40px;
	font-size: 16px;
	border: none;
	color:#333;
	background-color:#ffffff;
	border: 1px solid #333;
	cursor: pointer;
	margin-left: auto;

}
.contact-button-style:hover{
	background-color:#333; 
	color: #fff;
	border: 1px solid #333;
}


/* 這是課程網頁中的樂器課按鈕 */
.content-button-black-class{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	width: 100px; height:40px; 
	border: 1px solid #333;
	
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
	.content-button-black-class:hover{
		background-color: #333;
		border: 1px solid #333;
		color: #ffffff;
	}

/* 

###### Class.html and Result.html Style Setting ######

*/

/* result.html與class.html 中照片的設定 （待調整） */
.orff-class-photo{
	    width: 350px;
    	height: 263px;
}

/* class.html 兩區塊並排的照片配置這定 (待調整) */
.classPhoto {
    width: 500px;
    height: 300px;
}

/* result.html 的影片檔 */
.youtube-style{
	width: 750px;
	height: 460px;	
}

/*
=================================================

						RWD

=================================================
*/

/* 平板 */
@media (max-width: 1360px){
	.section-title>div{
		flex: none;
		width: 90%;
		text-align: center;

	}
	.section-single-content>div{
		flex: none;
		width: 100%;
		
		margin-top: 20px;
		text-align: center;	
	}
	.section-twice-content>div{
		flex: none;
		width: 100%;
		margin: 20px;
		text-align: center;
	}
	.section-triple-content>div{
		flex: none;
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		text-align: center;
	
	}

	/* class.html個別區塊的個別設定 */


	/* 課程區塊中，兩兩並排的左邊設定 */
	.section-twice-content>.classInfor-left {
	    flex: none;
	    width: 100%;
	    margin: 0;
	    margin-left: 0;
	    text-align: center;
	}
	/* 課程區塊中，兩兩並排的右邊設定 */
	.section-twice-content>.classInfor-right {
	    flex: none;
	    width: 100%;
	    margin: 0;
	    text-align: center;
	}
	/* 聯絡我們區塊左邊個別設定 */
	.section-twice-content>.contact-style{
		flex: none;
		width: 100%;
		margin-top: 40px;
		margin-left: 0;
		text-align: center;
	}
	.x-width{
		display: flex;
		justify-content: center;
		flex: none;
		width: 100%;
	}
	

	/*================網頁標題列================*/
	.webTitleTxt{
		font-size: 20px;
	}

	/*==== Header 字體====*/

	.header-content>div{
			flex: none;
			text-align: center;
			font-size: 26px;
			color: #ffffff;
	}

	/* ================最新消息================ */
		/* 把消息內文調成寬度100% */
		#newsP{
			width: 100%;
		}
		/* 隱藏圖片 */
		.news-pic{
			display: none;
		}
		

	/* ================關於老師================ */
	.teacher-photo{
		width: 500px; height: 500px;
	}
	
	
	/* ================課程資訊================ */
	/* 下層文字說明區 */
	.class-detail{
	 	width: 300px; margin: auto;
	 }
	/* 上層照片區 */
	.class-left-photo{
		width: 300px; height: 200px; margin:auto;
	}
	.class-right-photo{
		width: 300px; height: 200px;
	}
	/* class.html 兩區塊並排的照片配置這定 (待調整) */
	.classPhoto {
	    width: 400px;
	    height: 250px;
	    margin: auto;
	}


/* ================聯絡我們================ */
	
	div.label{
		font-size: 18px;
		text-shadow:0px 0px 0 #444;
		text-align:center;
		width: 100%;
		
	}
	.input-style{
		padding:8px;
		display:block;
		border:none;
		border-bottom:1px solid #ccc;
		width:100%;
		text-align: left;
	}
	.textarea-style{
		padding:8px;
		display:block;
		border:none;
		border-bottom:2px solid #ccc;
		width:100%;
		height: 140px;
		resize: none;
		text-align: left;
		font-size: 16px;

	}
	.button-style{
		width: 150px;
		font-size: 18px;
		border: none;
		color:#fff;
		background-color:#607d8b;
		text-align: center;
	}
	.contact-infor{
		margin-left:0; margin-top: 0; text-align: center;
	}
	/* 地圖設定 */
	.google-map{
		height: 300px; width: 100%; margin-top: 20px; margin-left:auto;
	}

	/* result.html 影片設定 */
	.youtube-style{
		width: 100%;
		height: 460px;	
	}


/* ================ Footer ================ */
	.footer-content>div.uper-0{
		flex: none;
		width: 90%;
		margin: 4%;
		text-align: center;
	}
	.footer-content>div.uper{
		flex: none;
		width: 45%;
		text-align: left;
	}

}

.content-button-black-class{
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	flex: none;
	width: 100px; height:40px; 
	border: 1px solid #333;
	
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
	.content-button-black-class:hover{
		background-color: #333;
		border: 1px solid #333;
		color: #ffffff;
	}

@media (max-width: 500px){
	/* 導航列 */
	.phoneNav{ display: inline-block; }
	.phoneNav-button{display: block;}
	.nav-frame{display: none;}

	/* 通用div設定 */
	.section-title>div{
		flex: none;
		width: 90%;
		text-align: center;

	}
	.section-single-content>div{
		flex: none;
		width: 51%;
		
		margin-top: 20px;
		text-align: center;	
	}
	.section-twice-content>div{
		flex: none;
		width: 100%;
		margin-top: 20px;
		text-align: center;
	}
	.section-triple-content>div{
		flex: none;
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		text-align: center;
		
	}
	/* class.html個別區塊的個別設定 */


	/* 課程區塊中，兩兩並排的左邊設定 */
	.section-twice-content>.classInfor-left {
	    flex: none;
	    width: 100%;
	    margin: 0;
	    margin-left: 0;
	    text-align: center;
	}
	/* 課程區塊中，兩兩並排的右邊設定 */
	.section-twice-content>.classInfor-right {
	    flex: none;
	    width: 100%;
	    margin: 0;
	    text-align: center;
	}
	/* 聯絡我們區塊左邊個別設定 */
	.section-twice-content>.contact-style{
		flex: none;
		width: 100%;
		margin-top: 40px;
		margin-left: 0;
		text-align: left;
	}

	/*================網頁標題列================*/
	.webTitleTxt{
		font-size: 20px;
	}
	/*==== Header 字體 ====*/

	.header-content>div{
			flex: none;
			text-align: center;
			font-size: 18px;
			color: #ffffff;
	}

/* ================最新消息================ */
	/* 把消息內文調成寬度100% */
		#newsP{
			width: 100%;
		}
		/* 隱藏圖片 */
		.news-pic{
			display: none;
		}


/* ================關於老師================ */
	.teacher-photo{
	width: 300px; height: 300px;
	}

/* ================課程內容================ */
	.classPhoto {
		    width: 100%;
		    height: 150px;
		    margin-left: 0;
		}
	.class-detail{
		width: 200px; margin: auto;
	}
/* ================聯絡我們================ */

	div.label{
		font-size: 18px;
		text-shadow:0px 0px 0 #444;
		text-align:center;
		width: 100%;
		
	}
	.form-size{
		width: 300px;
	}
	.input-style{
		padding:8px;
		display:block;
		border:none;
		border-bottom:1px solid #ccc;
		width:100%;
		text-align: left;
	}
	.textarea-style{
		padding:8px;
		display:block;
		border:none;
		border-bottom:2px solid #ccc;
		width:100%;
		height: 140px;
		resize: none;
		font-size: 16px;
		text-align: left;

	}
	.button-style{
		width: 150px;
		font-size: 18px;
		border: none;
		color:#fff;
		background-color:#607d8b;
		text-align: center;
		margin-left: auto;
	}
	/* result.html 影片設定 */
	.youtube-style{
		width: 100%;
		height: 230px;	
	}


/* ================ Footer ================ */
	.footer-content>div.uper-0{
		flex: none;
		width: 90%;
		margin: 5%;
		text-align: center;
		
	}
	ul.none-0 {
    	list-style-type: none;
    	margin: auto;
    	text-align: center;
    	display: inline;
	}
	ul.none-0 > li{
		/*display: inline;*/
	}
	.footer-content>div.uper{
		flex: none;
		width: 50%;
		text-align: left;
	}
}



